@model ActiveTimeSlotViewModel
@{
    ViewData["Title"] = "Оброци";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2 class="display-5" id="clock"></h2>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: </strong>@TempData["Error"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (Model?.Active != null)
    {
        <div class="d-flex justify-content-between mt-3">
            <div class="display-6">@(Model.Active.Start.ToShortTimeString())</div>
            <div class="display-6">@(Model.Active.End.ToShortTimeString())</div>
        </div>
        <div class="progress">
            <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
        </div>
    }
    else
    {
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="display-6">Нема активни оброци</h3>
            </div>
        </div>
    }
</div>
<div id="notification-card-wrapper" class="mt-3"></div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>
<script>
    const startTime = Date.parse(`@(Model?.Active?.Start.ToString("yyyy-MM-ddTHH:mm:ss.fff"))`);
    const endTime = Date.parse(`@(Model?.Active?.End.ToString("yyyy-MM-ddTHH:mm:ss.fff"))`);
    const weekDays = ["Нед", "Пон", "Вто", "Сре", "Чет", "Пет", "Саб"];
    const months = ["јан", "фев", "март", "апр", "мај", "јун", "јул", "авг", "сеп", "окт", "ное", "дек"];
    const progressBar = document.getElementById('progress-bar');
    if (progressBar) {
        progressBar.setAttribute('aria-valuemin', startTime);
        progressBar.setAttribute('aria-valuemax', endTime);
    }

    function updateClock() {
        const clockElement = document.getElementById('clock');
        const now = new Date();
        if (progressBar) {
            let nowTime = Date.parse(now);
            nowTime = Math.max(startTime, Math.min(endTime, nowTime));
            const percentage = ((nowTime - startTime) / (endTime - startTime) * 100).toFixed(2);
            if (percentage <= 30) {
                progressBar.className = "progress-bar bg-success";
            }
            else if (percentage >= 70 && percentage < 90) {
                progressBar.className = "progress-bar bg-warning";
            }
            else if (percentage >= 90) {
                progressBar.className = "progress-bar bg-danger";
            }
            else {
                progressBar.className = "progress-bar";
            }
            progressBar.style.width = `${percentage}%`;
            progressBar.setAttribute('aria-valuenow', nowTime);
        }
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');

        const timeString = `${weekDays[now.getDay()]}, ${now.getDate()} ${months[now.getMonth()]} ${now.getFullYear()} ${hours}:${minutes}:${seconds}`;

        clockElement.textContent = timeString;
    }

    setInterval(updateClock, 1000);

    updateClock();

    const nextStartTime = Date.parse(`@(Model?.Next?.Start.ToString("yyyy-MM-ddTHH:mm:ss.fff"))`);
    const currentTime = Date.parse(new Date());
    const timeUntilNextStart = nextStartTime - currentTime;

    if (timeUntilNextStart > 0) {
        setTimeout(() => {
            window.location.reload();
        }, timeUntilNextStart);
    }
</script>